.playlist-cover img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.playlist-header {
  padding: 32px 16px;
  height: 102px;
  width: 100%;
  margin-top: -102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-header h1 {
  text-shadow: 5px 5px 5px rgb(0 0 0 / 33%);
  color: #fff;
  font-size: 48px;
}

.playlist-header .button {
  padding: 16px;
  border-radius: 50%;
  background-color: #fff;
  height: 72px;
  width: 72px;
  margin-top: 94px;
  box-shadow: 2px 2px 12px rgb(0 0 0 / 33%);
}

.playlist-header .button img {
  height: 36px;
  width: 36px;
}

.playlist ul {
  margin: 64px 16px;
}

.playlist ul li {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-thumb {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  position: relative;
}

.album-art{
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.equalizer {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 12px;
  top: 8px;
}

.track-name {
  padding: 16px;
  font-size: 16px;
  font-weight: normal;
}

.action {
  margin-left: auto;
}
.action .button {
  margin-right: 18px;
}
.action .button img {
  height: 24px;
  width: 24px;
}