body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ul li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  padding: 0px 24px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: inline-block;
  margin: 8px 0;
}
header .logo img {
  height: 28px;
}

header .link img {
  vertical-align: middle;
}

main {
  margin-top: 48px;
  height: calc(100vh - 48px);
  /* min-height: -webkit-fill-available; */
  background-color: #f7f7f7;
  overflow-y: auto;
}

main.player-open {
  height: calc(100vh - 150px);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 102px;
}

.launch-banner {
  margin: 24px 24px 0 16px;
  background: #f3e6bd;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launch-banner a {
  display: inline-block;
  padding: 6px 12px;
  background: #ff9800;
  color: #222;
  border-radius: 4px;
}